beautifulsoup4==4.12.2
certifi==2023.7.22
charset-normalizer==3.2.0
click==8.1.8
contourpy==1.0.7
cycler==0.11.0
et-xmlfile==1.1.0
etl==0.0.1
fonttools==4.39.4
idna==3.4
iniconfig==2.0.0
joblib==1.4.2
kiwisolver==1.4.4
matplotlib==3.7.1
networkx==3.4.2
nltk==3.2.4
numpy==1.24.3
oauthlib==3.2.2
openpyxl==3.1.2
packaging==23.1
pandas==2.0.2
Pillow==9.5.0
pluggy==1.5.0
preprocessing==0.1.13
pyparsing==3.0.9
pytest==8.3.4
python-dateutil==2.8.2
pytube==15.0.0
pytz==2023.3
regex==2024.11.6
requests==2.31.0
requests-oauthlib==2.0.0
scikit-learn==1.7.1
scipy==1.15.2
seaborn==0.13.0
six==1.16.0
soupsieve==2.4.1
sphinx-rtd-theme==0.2.4
threadpoolctl==3.6.0
tqdm==4.67.1
tweepy==4.15.0
tzdata==2023.3
urllib3==2.0.4
